<h1>All Posts</h1>

<% @posts.each_with_index do |post, ind| %>
  
  <div class = "media">
      <div class = "media-body">
          <h4 class = "media-heading">
              <% if ind%5 == 0 %>
                <%  post.title = "CENSORED" %>
              <% end %>
              <%= link_to post.title, post%> 
          </h4>
      </div>
  </div>
    
<%end%>