<div class="form-group">
    <%= f.label :rate %>
    <%= f.text_field :rate,
            class: 'form-control',
            placeholder: "enter the rating of this, either PG, PG-13 or R",
     value: :rate %>
</div>